<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="JJP Ruleset" Description="This rule set contains all rules, with some naming rules turned off." ToolsVersion="12.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1703" Action="None" />
    <Rule Id="CA1704" Action="None" />
    <Rule Id="CA1709" Action="None" />
  </Rules>
</RuleSet>